.fondCard {
  background-color: var(--fond-card);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px var(--shadow);
  margin-bottom: 3rem;
  transition: box-shadow 0.3s, scale 0.3s;
  &:hover {
    box-shadow: 5px 8px 18px 4px var(--shadow);
    scale: 1.01;
  }
}

.containeurImage {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px var(--shadow);
  contain: content;
  gap: 0.75rem;
}
.accordion * {
  margin: 0;
  padding: 0;
}
.accordion {
  --_button-size: 4rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;
  display: flex;
  flex-direction: column;
  .accordionPanel {
    display: flex;
    flex-direction: column;
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: calc(var(--_panel-padding) * 2) calc(var(--_panel-padding) * 4);
    background-color: transparent;
    .accordionHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0;
      .accordionTrigger {
        background-color: transparent;
        border: 0;
        font-size: 2rem;
        min-width: unset;
        min-height: unset;
        &:hover {
          background-color: transparent;
          scale: none;
        }
      }
    }
    .accordionContent {
      padding: calc(var(--_panel-padding) * 2) calc(var(--_panel-padding) * 4);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .accordionPanel {
      transition: flex-basis 500ms, flex-grow 500ms;
    }
  }

  .accordionPanel:has([aria-expanded="true"]) {
    flex-basis: clamp(12rem, 40vh, 18rem);
    flex-grow: 1;
  }

  .accordionPanel:has([aria-expanded="true"]) p {
    transform: translateY(0);
    opacity: 1;
  }
}
