svg {
  .cls {
    fill: #fff;
  }
  .cls1 {
    fill: #333333;
    transition: fill 0.3s;
  }
  .cls2 {
    fill: #4a0b06;
  }

  .cls3 {
    fill: #000102;
  }

  .cls4 {
    fill: var(--shining);
  }
  transition: scale 0.3s;
  &:hover {
    scale: 102%;
    .cls1 {
      transition: fill 0.3s;
      fill: var(--shining);
    }
  }
}
