.dFlex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.flexColumnReverse {
  flex-direction: column-reverse;
}

.no-wrap {
  flex-flow: nowrap;
}

.flexFill {
  flex: 1 1 auto;
}

.flexGrow {
  flex-grow: 1;
}

.justifyContentCenter {
  justify-content: center;
}
.justifyContentRight {
  justify-content: flex-end;
}

.justifyAround {
  justify-content: space-around;
}

.alignItemsCenter {
  align-items: center;
}

.block {
  display: block;
}
