@use "../../styles/media-queries" as *;

.containeur {
  margin: 3vw 2.5vw;
  max-width: fit-content;
  @include xl {
    margin: 2.5vw;
  }
  @include xs {
    margin: 0;
    min-width: 100vw;
    min-height: 100svh;
  }
  .containeurTexte {
    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include xl {
      position: absolute;
      opacity: 0.8;
      top: 25%;
      left: 5%;
      max-width: 400px;
      min-height: 300px;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
    @include xs {
      position: absolute;
      border-radius: 10px !important;
      opacity: 0.8;
      z-index: 1;
      bottom: 20vw;
      margin: 1.5vw;
      border-radius: 0;
      box-shadow: 5px 8px 18px 4px var(--shadow);
    }
  }
}

.shadowScale {
  box-shadow: 5px 5px 10px 1px var(--shadow);
  transition: 0.3s;
  @include xs {
    box-shadow: none;
    background-color: transparent;
  }
  &:hover {
    scale: 1.005;
    box-shadow: 5px 8px 18px 4px var(--shadow);
    @include xs {
      scale: unset;
    }
  }
  @include xs {
    margin: 0;
  }
}
