@use "../../styles/media-queries" as *;

.containeur {
  margin: 3vw 2.5vh;
  max-width: fit-content;
  @include xl {
    margin: 2.5vw;
  }
  @include xs {
    margin: auto;
    min-width: 100vw;
    min-height: 100svh;
  }
  .containeurTexte {
    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include xl {
      position: absolute;
      z-index: 1;
      margin: 0;
      padding: 1vw 1.8vw;
      opacity: 0.8;
      top: 16vw;
      left: 8vh;
      max-width: 350px;
      min-height: 170px;
      border-radius: 10px;
    }
    @include xs {
      position: absolute;
      border-radius: 10px !important;
      opacity: 0.8;
      z-index: 1;
      bottom: 22vw;
      margin: 0 3.5vw;
      padding: 4vw;
      border-radius: 0;
      box-shadow: 5px 8px 18px 4px var(--shadow);
    }
  }
}

.shadowScale {
  box-shadow: 5px 5px 10px 1px var(--shadow);
  transition: 0.3s;
  @include xs {
    box-shadow: none;
    background-color: transparent;
  }
  &:hover {
    scale: 1.005;
    box-shadow: 5px 8px 18px 4px var(--shadow);
    @include xs {
      scale: unset;
    }
  }
  @include xs {
    margin: 0;
  }
}
